body {
    display:grid;
    background-color: lavender;
    font-family: monospace;

}
header {
    display:grid;
    width: 75%;
    height: 150px;
    background-color: skyblue;
    margin-left: auto;
    margin-right:auto;
    grid-template-columns: 75% 25%;
}
main {
    display:grid;
    margin-left:180px;
}
#logo {
    height:inherit;
}
#reviews {
    display:block;

}
#display-info {
    padding-bottom:10px;
    padding-top:0px;
    display:grid;
    grid-template-rows: 33% 33% 33%;
    word-wrap: break-word;
    margin-bottom: 20px;
    margin-right:180px;
    justify-items: center;
}
#centerHeader, #titles {
    margin-left: 450px;
    margin-right:450px;
    
}
#titles {
    margin-left: 420px;
    margin-right:450px
}
@media (max-width: 400px) {
    #reviews {
        display:none;

    }
};
